@import 'mixins';
@import 'functions';

$transitionDelay0: 0s;
$transitionDelay1: .1s;
$transitionDelay2: .2s;
$transitionDelay3: .3s;
$transitionDelay4: .4s;
$transitionDelay5: .5s;

$guide-color: #fff;
$guide-color1: #000;
$guide-color2: #333333;
$guide-color3: #f2f2f2;
$guide-color4: #464646;
$guide-color5: #2e2e2e;
$guide-color6: #f50067;
$guide-color7: #ed1e24;
$guide-color8: #ffd420;
$guide-color9: #ee262e;
$guide-color10: #ed1c24;
$guide-color11: #fc6076;
$guide-color12: #f3686d;
$guide-color13: #1c3aed;
$guide-color14: #231f20;
$guide-color15: #ed1d24;
$guide-color16: #f88f35;
$guide-color17: #d8d8d8;
$guide-color18: #4caf50;
$guide-color19: #ffa000;
$guide-color20: #e6fae7;
$guide-color21: #adadad;
$guide-color22: #3b5998;
$guide-color23: #0084ff;
$guide-color24: #0b74d6;

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-openSans: 'Open Sans', sans-serif;