.partners {
  .h2 {
    margin-bottom: 40px;

    @media (min-width: 768px) and (max-width: 1199.98px) {
      margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 80px;
    }
  }

  .list-images {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-left: 0;

    @media (min-width: 768px) and (max-width: 1199.98px) {
      margin-top: 60px;
    }
    @media (min-width: 1200px) {
      margin-top: 90px;
    }

    li {
      margin: 0 20px 30px;
    }

    img {
      height: 55px;
    }
  }
}