.registration {
  position: relative;

  &::after {
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 96px;
      height: 74px;
      background: url("/outer/images/reg/icon-4.png") no-repeat center;
      background-size: contain;

      content: '';
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url("/outer/images/reg/bg.jpg") no-repeat center;
    background-size: cover;
  }

  .top-shadow {
    @media (min-width: 1200px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100px;
      background-image: linear-gradient(0deg, transparent, #fff);
      z-index: 1;
    }
  }

  .bottom-shadow {
    @media (min-width: 1200px) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      background-image: linear-gradient(0deg, #fff, transparent);
      z-index: 1;
    }
  }

  .h2 {
    position: relative;
    margin-bottom: 40px;
    text-align: center;

    @media (min-width: 768px) and (max-width: 1199.98px) {
      margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 80px;
    }

    &::before {
      @media (min-width: 1200px) {
        position: absolute;
        top: -50px;
        left: 60px;
        z-index: 1;
        width: 191px;
        height: 87px;
        background: url("/outer/images/reg/icon-1.png") no-repeat center;
        background-size: contain;

        content: '';
      }
    }

    &::after {
      @media (min-width: 1200px) {
        position: absolute;
        top: -50px;
        right: 60px;
        z-index: 1;
        width: 75px;
        height: 91px;
        background: url("/outer/images/reg/icon-2.png") no-repeat center;
        background-size: contain;

        content: '';
      }
    }
  }

  .form {
    position: relative;

    &::before {
      @media (min-width: 1200px) {
        position: absolute;
        bottom: -50px;
        left: 80px;
        z-index: 1;
        width: 75px;
        height: 91px;
        background: url("/outer/images/reg/icon-2.png") no-repeat center;
        background-size: contain;

        content: '';
      }
    }

    &::after {
      @media (min-width: 1200px) {
        position: absolute;
        bottom: -50px;
        right: 80px;
        z-index: 1;
        width: 149px;
        height: 127px;
        background: url("/outer/images/reg/icon-3.png") no-repeat center;
        background-size: contain;

        content: '';
      }
    }

    .btn-form-submit {
      padding: 24px 40px;
      margin-top: 40px;
      font-size: 12px;
      font-weight: 700;
      color: $guide-color;
      background: $guide-color10;
      border-radius: 0;

      @media (min-width: 768px) and (max-width: 1199.98px) {
        margin-top: 60px;
      }
      @media (min-width: 1200px) {
        margin-top: 80px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    label {
      font-size: 14px;
      font-weight: 500;
    }

    .form-control {
      margin-bottom: 20px;
      border: 0;
      border-radius: 0;
    }

    .category {
      margin-top: 20px;
      font-size: 14px;

      .category_ttl {
        margin-right: 15px;
      }

      label {
        margin-bottom: 0;
      }

      .category-checkbox {

        @media (max-width: 991.98px) {
          margin-bottom: 8px;
        }

        @media (min-width: 992px) {
          display: inline-block;
          margin-right: 15px;
        }

        .radio {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin: 10px 0 0 7px;
        }
        .radio + label {
          position: relative;
          padding: 0 0 0 30px;
          cursor: pointer;
        }
        .radio + label:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: #FFF;
        }
        .radio + label:after {
          content: '';
          position: absolute;
          top: 40%;
          left: 5px;
          transform: translateY(-50%);
          width: 12px;
          height: 10px;
          background: url("/outer/images/reg/icon.jpg") no-repeat center;
          opacity: 0;
          transition: .2s;
        }
        .radio:checked + label:after {
          opacity: 1;
        }
      }
    }
  }
}