@import '../../variables';

/* PARAGRAPH
----------------------------------------- */
p,
.paragraph,
li.paragraph
{
  margin-top: 0;
  margin-bottom: 0;

  font-size: 13px;
  line-height: 20px;

  @media (min-width: 992px) {
    font-size: 14px;
    line-height: 24px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 30px;
  }

  &.large {
    font-size: 14px;
    line-height: 24px;

    @media (min-width: 992px) and (max-width: 1199.98px) {
      font-size: 16px;
      line-height: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 18px;
      line-height: 34px;
    }
  }
}
